<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset = "utf-8">
        <title>change_role</title>
    </head>
    <body>
        <div class="change_role">
            <form action="<%@act%>" method="POST">
                <label for="tag">DNI del usuario</label> 
                <input type="text" name="tag" placeholder="@DNI del usuario o @email" autofocus > <br>
                <input type="submit" value="Aceptar"> 
            </form>
        </div>
    </body>
</html>