<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset = "utf-8">
        <title>edit_profile</title>
    </head>
    <body>
        <div>
            <form action="/edit_profile" method="POST" enctype="multipart/form-data">
                Editar Perfil <br>
                <img src="<%=@current_user.avatar_path%>" class="picture" style="width:180px;height:180px;"> <br>   
                <input name="fileInput" type="file" accept= ".jpg, .jpeg, .png"  /> <br> 
                <label for="name">nombre</label>
                <input type="text" name="name" value= <%=@current_user.name%>  / data-validation="alphanumeric" > <br>
                <label for="lastname">Apellido</label> 
                <input type="text" name="lastname" value= <%=@current_user.lastname%> / data-validation="alphanumeric" > <br>
                <label for="email">Email</label> 
                <input type="text" name="email" value= <%=@current_user.email%> / data-validation="email" > <br>   
                <a href = '/change_password'> Cambiar contraseña </a> 
                <input type="submit" value="Aceptar">  
            </form>   
        </div>
    </body>

</html>