<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset = "utf-8">
        <title>error_msg</title>
        <link rel="stylesheet" href="css/loginStyle.css">
        <link rel="stylesheet" href="css/documentsStyle.css">
    </head>
    <body>
        <% if defined? error_message %>
            <p style="color: red"><%= error_message %></p>
        <% end %>
    </body>
</html>