<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset = "utf-8">
        <title>login</title>
    </head>
    <body>
       <h3> Hola <%= "#{@user.name} #{@user.lastname}"%> </h3>
       <ul>
            <% if(@user.is_admin) %>
                <li> <a href ="/save_document"> Subir documento</a> </li> 
                <li> <a href ="/my_upload_documents"> Mis documentos subidos</a> </li> 
                <li> <a name="add_admin" href ="/change_role"> Hacer administrador</a> </li>
                <li> <a name="delete_admin" href ="/change_role"> Eliminar Administrador</a> </li>
            <%end%>
            <li> <a href ="/documents"> Ver documentos </a> </li> 
            <li> <a href ="/log_out"> Cerrar Sesion </a> </li>
        </ul>
     </body>
</html>

