<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset = "utf-8">
        <title>login</title>
    </head>
    <body>
        <div>
            <form action="/login" method="POST">
                <label for="email">Email</label> 
                <input type="text" name="email" / data-validation="email" > <br>
                <label for="pwd" >Contraseña</label> 
                <input type="password" name="pwd" / data-validation="password"> <br>
                <input type="submit" value="Ingresar"> <br> <br>
                ¿No tiene una cuenta? <a href = '/signUp'> Crear cuenta </a>
            </form>
        </div>
    </body>

</html>
