<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset = "utf-8">
        <title>profile</title>
        <style>
            w3-padding-24 {padding-top:45px!important;padding-bottom:45px!important}
        </style>
    </head>
    <body>
        <form action="/add_topic" method="POST">
                <div class="w3-display-topright w3-container w3-margin-top" 
                    style="width:42%; padding-top:22px!important; ">
                    <div class="w3-cell">
                        <input class="w3-card w3-input w3-border w3-padding" type="text" name="topic" placeholder="Crear nueva tendencia" > 
                    </div>
                    <div class="w3-cell" style="padding-left:8px!important;">
                        <input class="w3-card w3-button w3-round-large w3-center w3-blue"  type="submit" value="Aceptar"> 
                    </div>
                </div>
            </div>
        </form>   
    </body>

</html>