<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset = "utf-8">
        <title>save_document</title>
        <link rel="stylesheet" href="css/loginStyle.css">
        <link rel="stylesheet" href="css/documentsStyle.css">
    </head>
    <body>
    <div class="w3-display-container "style="height:500px;" >
        <% if flash[:error_message] %>
            <p style="color: red"><%= flash[:error_message] %></p>
        <%end%>
        <form class="w3-margin-left"  action="save_document" method="POST" enctype="multipart/form-data">
            <div class="w3-container w3-cell-row w3-padding-32 " >
                    <div class="w3-display-bottommiddle w3-margin-bottom w3-padding-32" style="width:30%">
                        <input id="send" class="w3-button w3-blue " type="submit" value="Subir Documento"> 
                    </div>

                <div id='validate' class="w3-container w3-cell w3-margin-top w3-display-topmiddle w3-hide-small" 
                        style="width:40%" >
                    <label for="title">Titulo</label> 
                    <input id="title" class="w3-input w3-border w3-round" type="text" name="title" required> 
                    <input id="doc" name="fileInput" type="file" accept= ".pdf, .jpg, .jpeg, .png"  required> </br></br>
                </div>
                
                <div  class="   w3-display-middle" style="width:80%">
                
                    <div  class="w3-container w3-cell w3-margin-top w3-margin-top "
                                style="width:50%" >
                        <label for="description">Descripcion</label> 
                        <input class="w3-input w3-border w3-round" type="text" name="description" maxlength="100"> 
                        <label for="type" >Tipo</label> 
                        <select id="type" name="type"> 
                            <option value="Act">Acta</option>
                            <option value="Resolution">Resolucion</option>
                        </select> 
                    </div>

                    <div class="w3-container w3-cell w3-margin-top  " 
                            style="width:50%">
                        <%= erb :add_tags%>
                        <%= erb :add_topics%>
                    </div>
                </div> 
            </div>        
        </form>
        </div>   
       
    </body>
</html>