<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset = "utf-8">
        <title>save_document</title>
    </head>
    <body>
        <div class="save_document">
            <form action="save_document" method="POST" enctype="multipart/form-data">
                <label for="title">Titulo</label> 
                <input type="text" name="title"> <br>
                <label for="type" >Tipo</label> 
                <select id="type" name="type">
                    <option value="Act">Acta</option>
                    <option value="Resolution">Resolucion</option>
                </select>
                <input name="fileInput" type="file" accept= ".pdf, .jpg, .jpeg, .png"  /> <br>
                <input type="text" name="path" value ="file.value" class="button" hidden>
                <input type="submit" value="Subir Documento"> 
            </form>
        </div>
    </body>

</html>