<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset = "utf-8">
        <title>save_document</title>
        <link rel="stylesheet" href="css/loginStyle.css">
        <link rel="stylesheet" href="css/documentsStyle.css">
    </head>
    <body>
        <div class="save_document">
            <form action="save_document" method="POST" enctype="multipart/form-data">
                <label for="title">Titulo</label> 
                <input type="text" name="title"> <br>
                <label for="description">Descripcion</label> 
                <input type="text" name="description"> <br>
                <label for="tag" >Tags</label> 
                <input type="text" name="tag" id="tag">
                
                <div class="filter w3-round-large ">
                    <ul id="filter_users" class="w3-ul w3-card w3-border w3-round-large " > </ul>
                </div>
                <label for="type" >Tipo</label> 
                <select id="type" name="type"> 
                    <option value="Act">Acta</option>
                    <option value="Resolution">Resolucion</option>
                </select> <br>
                <label for="select_topic" >Tendencia</label> 
                <select id="select_topic" name="topics"> 
                    <%@topics.each do |topic|%>
                        <option value="<%=topic.id%>"><%=topic.name%></option>
                    <%end%>
                </select> <br>
                <input name="fileInput" type="file" accept= ".pdf, .jpg, .jpeg, .png"  /> <br>
                <input type="submit" value="Subir Documento"> 
            </form>
        </div>
        <script> 
            users = <%= @users%>;
             
            var search = document.getElementById('tag');
            var user_ul = document.getElementById('filter_users');
            var select_user=[];

            search.innerHTML = '';
            search.addEventListener('keyup',e => {
                var lastChar = select_user.join('').length;    
                var text = search.value.substr(lastChar);
               
                if (search.value.length < lastChar)
                   deselect(select_user);
                
                user_ul.innerHTML = '';
                if (text != ''){
                    
                    var users_list = users.filter( function (user) {
                        input_text = lowerCase(text);
                        fullName = (user.name+' '+user.lastname).toLowerCase();
                        email = lowerCase(user.email);
                        return (isUser(user.dni,input_text) || isUser(user.name,input_text) 
                                    || isUser(user.lastname,input_text) || isUser(fullName,input_text) 
                                    || isUser(user.email,input_text)
                                );
                                
                    });

                    for (let i = 0; i < users_list.length; i++) {
                        var user = users_list[i];

                        user_ul.innerHTML += ` <li id='user_${i}' class="w3-bar w3-hover-light-grey  " >
                                                    
                                                    <img src="${user.avatar_path}" 
                                                         class="w3-bar-item w3-circle w3-tiny w3-margin-top " 
                                                            style="width:55px">
                                                        
                                                    <div class="w3-bar-item">
                                                        
                                                        <span class="w3-large"> 
                                                            ${ user.name } ${user.lastname} 
                                                        </span>
                                                        <span class="w3-small"> - DNI: ${user.dni}  </span>
                                                        </br>
                                                        <span >${user.email}</span>
                                                    </div>
                                                </li> `;
                    }

                    for (let i = 0; i < users_list.length; i++) {
                        document.getElementById('user_'+i).addEventListener('click', e=> {
                            select_user.push('@' + users_list[i].dni.toString());
                            search.value ='';
                            for (let i = 0; i < select_user.length; i++) {
                                search.value += select_user[i];    
                            }
                            user_ul.innerHTML = '';
                        }); 
                    }
                }
                
            });
            
            function deselect(select_user) {
                select_user.pop();
            }

            function lowerCase(elem){
                return elem.toString().toLowerCase();
            }
            function isUser(user,params) {
                return lowerCase(user).indexOf(lowerCase(params)) > -1; 
            }

        </script>
    </body>
</html>