<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset = "utf-8">
        <title>SignUp</title>
        <script type="text/javascript" src="js/validation.js"></script>
       
    </head>
    <body>
        <form class="w3-container " style="width:60%" action="/signUp" method="POST">

            <p>
                <label for="dni">DNI*</label>
                <input id="dni" class="w3-input w3-border w3-round "type="text"  name="dni"  maxlength="8" pattern="[0-9]{8}" required 
                    title="Ingrese un DNI valido">
            </p>
            <p>
                <label for="name">Nombre*</label>
                <input id="name"  class="w3-input w3-border w3-round" type="text" name="name" min="3" required> 
            </p>
            <p>
                <label for="lastname">Apellido*</label> 
                <input id="lastname" class="w3-input w3-border w3-round" type="text" name="lastname" min="3" required> 
            </p>
            <p>
                <label for="email">Email*</label> 
                <input id="email"  class="w3-input w3-border w3-round" type="text" name="email" 
                        pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required title="Correo electronico invalido"> 
            </p>
            <p>
                <label for="pwd" >Contraseña*</label> 
                <input id="pwd" class="w3-input w3-border w3-round" type="password" name="pwd" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" 
                    required title="Mínimo de ocho caracteres, al menos una letra mayúscula, una letra minúscula y un número"> 
            </p>
             <input id="send" class="w3-button w3-blue w3-roundw3-margin-right" type="submit" value="Crear Cuenta"> 
        </form>

    </body>
</html>
