<html>
  <head>
      <meta charset = "utf-8">
      <title>Web socket</title>
      <script type="text/javascript" src="js/socket.js"></script>
  </head>
  <body>
     <h1>Test de web socket</h1>
     <form id="form">
       <input type="text" id="input" value="Escribe algo.."></input>
     </form>
     <div id="msg"></div>
  </body>
</html>