<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset = "utf-8">
        <title>topic:list</title>
        <link rel="stylesheet" href="/css/loginStyle.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <div class="w3-container">
            <ul class="w3-card-4 w3-ul">
                <%@topics.each do |topic|%>

                    <li class="w3-hover-blue w3-padding-16">
                        <%if @current_user%>
                        <form action="" method="POST">
                            <td>  
                                <button class="w3-bar-item w3-button w3-white w3-right w3-circle w3-center " name="del_topic" type="submit" value="<%=topic.id%>" 
                                formaction="/delete_topic">&times </button>  
                            </td>
                        </form>
                        <%end%>                  
                        <div class="w3-bar-item">
                            <span class="w3-large"><%= topic.name %></span><br>
                        </div>
                    </li>

                <%end%>  
            </ul>  
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    </body>
</html>

